@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Kumbh+Sans:wght@100&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: whitesmoke;
}

header {
  height: 8vh;
  background-color: rgb(77, 83, 93);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

footer {
  height: 8vh;
  background-color: rgb(77, 83, 93);
  text-align: center;
  color: white;
}

main h1 {
  height: 5vh;
  text-align: center;
  margin: 10px;
}

main {
  margin-left: 400px;
  margin-right: 400px;
}

main div.slika {
  min-height: 20vh;
}

div.desni {
  padding: 20px;
}

main div.slika img {
  height: 70vh;
}

main p {
  min-height: 200px;
  padding: 10px
}

div.seasons {
  min-height: 300px;
  ul {
      padding: 20px;
  }
}

div.cast {
  min-height: 300px;
  ul {
      padding: 20px;
  }
}

div.otac {
  display: flex;
}
